h1 Dobrodošli v Ubuntu

.vsebina
  aside
    a(href="#/uvod", data-api="/uvod")
      h2 Uvod v Ubuntu
    a(href="#/vodici", data-api="/video-vodici")
      h2 Video vodiči
    a(href="#/programi", data-api="/uporabni-programi")
      h2 Uporabni programi
    a(href="#/irc", data-api="/pomoc-v-zivo")
      h2 Pomoč v živo
  section
    :markdown
      ## Ful hud naslov

      testna vsebina