@import '_settings'

normalize()
base()

oranzna = #F37936


body
  background-image: url(../img/bg_dotted.png)
  padding: 50px
  margin:0
  padding:.5em
h1
  text-indent:-9999px
  background-image: url(../img/logotip.svg)
  background-repeat:no-repeat
  height: 3em
  background-size: contain

aside
  margin-top: 3em
  transition: all .25s ease-in-sine
  a
    color: oranzna
    text-decoration: none
    hover-lighten(percent = 15%)
