Source: ubuntu-si-welcome
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Janez Troha <dz0ny@shortmail.com>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: ubuntu-si-welcome
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-gtk-3.0,
 gir1.2-soup-2.4,
 gir1.2-webkit-3.0
Description: Aplikacija, ki se zažene ob prvem zagonu na ubuntu-si
 Vsebuje pomembne informacije za nove uporabnike Ubuntu OS
